<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="../bootstrap-3.1.1/dist/css/bootstrap.css">
</head>
<body>

  <h1 class="title">EXPENSE SHARER MANAGER</h1>

  <form class="clearBoth" ng-controller="expenseForm" ng-submit="submitExpense(expenseInfo)">
        <div class="expenseDesc" ng-model="expenseInfo">
            <div class="leftDesc">
                <div class="item">
                    <label for="title">Expense Title</label>
                    <input type="text" id="exTitle" name="title" ng-model="expenseInfo.exTitle"/>
                </div>
                <div class="item">
                    <label for="amount">Total Amount Spend</label>
                    <input type="text" id="totAmt" name="amount" ng-model="expenseInfo.amount"/>
                </div>
                <div class="item">
                    <label for="shareType">Type of Share</label>
                    <select name="shareType" ng-model="expenseInfo.typeOfShare">
                        <option value="equal">Equal</option>
                        <option value="unequal">Unequal</option>
                    </select>
                </div>
            </div>
            <div class="rightDesc">
                <div class="item">
                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" ng-model="expenseInfo.date"/>
                </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Expense Summary</div>

              <table class="table">
                <thead>
                  <tr>
                    <th>SNo.</th>
                    <th>UserId</th>
                    <th>Name</th>
                    <th>Share</th>
                    <th>Paid</th>
                    <th>Owes To</th>
                    <th>Gets From</th>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member in members">
                    <td>{{member.sNo}}</td>
                    <td>{{member.id}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.share}}</td>
                    <td>{{member.paid}}</td>
                    <td>{{member.owesTo}}</td>
                    <td>{{member.getsFrom}}</td>
                    <td><input type="button" value="Delete" /></td>
                  </tr>
                  <tr ng-hide="!show">
                    <td><span>{{counter}}</span></td>
                    <td><input type="text" required ng-model="new.id"></td>
                    <td><input type="text" required ng-model="new.name"></td>
                    <td><input type="text" required ng-model="new.share"></td>
                    <td><input type="text" required ng-model="new.paid"></td>
                    <td><span>"to be added"</span></td>
                    <td><span>"to be added"</span></td>
                    <td><input type="button" value="Save" ng-click="addMember(new)" /></td>
                </tr>

                </tbody>
              </table>

              <div><input type="button" value="Add Member" ng-click="addRow()"/></div>
            </div>

        </div> <!--end of expenseDesc-->
        <input type="submit" value="AddExpense" class="clearBoth"/>
    </form>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
